{% extends 'base.html' %}
{% load static %}
{% block title_page %}
<title>index</title>
{% endblock title_page %}
{% block content %}

    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-blog">
            <div class="container">
                <div class="row">
                    <div class="row-27">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="flip-image" src="{% static 'images/dark.png' %}" alt="Avatar">
                            </div>
                            <div class="flip-card-back">
                                <h1 class="h1-cars">LV 3</h1>
                                <p class="car-20">Запас хода - 520 км</p>
                                <p class="car-20">Емкость аккумулятора - 71.98 кВт/ч</p> 
                                <p class="car-20">Ускорение - 0-100 км/ч за 7.6 секунд</p> 
                                <p class="car-20">Размер машины - (мм) 4698*1908*1696</p>
                                <p class="car-20">Колёсная база - 2800 мм</p>
                                <p class="car-20">Макс. скорость - 150 км/ч </p> 
                                <p class="car-20">Вес - 1920 кг </p>
                                <p class="car-20">Медленная зарядка - 9 часов (220V)</p>
                                <p class="car-20">Быстрая зарядка - 30 минут (380V) от 20-80%</p>
                            </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="flip-image" src="{% static 'images/10.png' %}" alt="Avatar">
                            </div>
                            <div class="flip-card-back">
                                <h1 class="h1-cars">LV 2</h1>
                                <p class="car-20">Запас хода - 520 км</p>
                                <p class="car-20">Ёмкость аккумулятора - 71.98 кВт/ч </p> 
                                <p class="car-20">Ускорение - 0-100 км/ч за 7.6 секунд </p> 
                                <p class="car-20">Размер машины - (мм) 4698*1908*1696</p>
                                <p class="car-20">Колёсная база - 2800 мм</p>
                                <p class="car-20">Макс. скорость - 150 км/ч </p> 
                                <p class="car-20">Вес - 1920 кг </p>
                                <p class="car-20">Медленная зарядка - 9 часов (220V)</p>
                                <p class="car-20">Быстрая зарядка - 30 минут (380V) от 20-80%</p>
                            </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="flip-image" src="{% static 'images/White.png' %}" alt="Avatar">
                            </div>
                            <div class="flip-card-back">
                                <h1 class="h1-cars">LV 1</h1>
                                <p class="car-20">Запас хода - 420 км</p>
                                <p class="car-20">Ёмкость аккумулятора - 55.33 кВт/ч</p> 
                                <p class="car-20">Ускорение - 0-100 км/ч за 7.6 секунд </p> 
                                <p class="car-20">Размер машины - (мм) 4698*1908*1696</p>
                                <p class="car-20">Колёсная база - 2800 мм</p>
                                <p class="car-20">Макс. скорость - 150 км/ч </p> 
                                <p class="car-20">Вес - 1820 кг </p>
                                <p class="car-20">Медленная зарядка - 8 часов (220V)</p>
                                <p class="car-20">Быстрая зарядка - 30 минут (380V) от 20-80%</p>
                            </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="flip-image" src="{% static 'images/Blue.png' %}" alt="Avatar">
                            </div>
                            <div class="flip-card-back">
                                <h1 class="h1-cars">LV 0</h1>
                                <p class="car-20">Запас хода - 420 км</p>
                                <p class="car-20">Ёмкость аккумулятора - 55.33 кВт/ч</p> 
                                <p class="car-20">Ускорение - 0-100 км/ч за 7.6 секунд </p> 
                                <p class="car-20">Размер машины - (мм) 4698*1908*1696</p>
                                <p class="car-20">Колёсная база - 2800 мм</p>
                                <p class="car-20">Макс. скорость - 150 км/ч </p> 
                                <p class="car-20">Вес - 1820 кг </p>
                                <p class="car-20">Медленная зарядка - 8 часов (220V)</p>
                                <p class="car-20">Быстрая зарядка - 30 минут (380V) от 20-80%</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.section-portfolio -->

    </main><!-- /#main -->

    {% endblock %}