{% extends 'base.html' %}
{% load static %}
{% block title_page %}
<title>Contact</title>
{% endblock title_page %}
{% block content %}
    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-contact-us">

            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <!-- <h2>Send a message</h2> -->
                        <form method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {% csrf_token %}
                                      {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-green">Отправить</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-5">
                        <div class="contact-info">
                            <!-- <h2>Contact information</h2> -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Адрес</h3>
                                    <ul class="list-unstyled">
                                        <li>Kyrgyzstan, Bishkek</li>
                                        <li>ул. Жибек-Жолу 451</li>
                                    </ul>
                                    <h3>E-mail</h3>
                                    <a href="asman-electronics@gmail.com" target="_blank">asman-electronics@gmail.com</a>
                                    <h3>Phone</h3>
                                    <a href="tel:+996 990 24 00 00" target="_blank">+996 990 24 00 00</a>
                                    <h3>WhatsApp</h3>
                                    <p>+996 990 24 00 00</p>
                                </div>
                            </div>
                        </div><!-- /.contact-info -->
                    </div>
                </div>
            </div>
            
        </section><!-- /.section-contact-us -->

        <section id="map" class="section-map"></section><!-- /.section-map -->

    </main><!-- /#main -->
    {% endblock %}